@model Reques.Models.CreateRequirementModel

@{
    ViewBag.Title = "CreateRequirement";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Requirement</title>
</head>
<body class="modalPage">
    <div class="body-content">
        <ul>
            <li><img src="~/Content/images/logo_transparent.png" /></li>
            <li class="header"><b>Create Requirement</b></li>
        </ul>

    </div>

    <div id="parent">
        <form id="form_login">

            <div class="form-header">
                <h2><b>Create Requirement</b></h2>
            </div>

            <div class="form-item">
                <label for="fname"><b>Name</b></label><br />
                <input type="text" id="fname" name="name" placeholder="Name.."><br />
            </div>

            <div class="form-item">
                <label for="pname"><b>Description</b></label><br />
                <textarea id="description" name="description" rows="4" cols="50"></textarea>
            </div>

            <div class="form-item">
                <label for="pname"><b>Requirement Type</b></label><br />
                <br />
                <br />
                <label class="container">
                    Functional
                    <input type="radio" checked="checked" name="radio" value="1">
                    <span class="checkmark"></span>
                </label>
                <label class="container">
                    Non Functional
                    <input type="radio" name="radio" value="2">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-item">
                <label for="pname"><b>Project</b></label><br />
                <select name="projectId">

                    @for (int index = 0; index < Model.projects.Count; index++) {
                        var l = Model.projects[index];

                        <option value="@l[0]">@l[1]</option>
                    }

                </select>
            </div>

            <div class="form-item">
                <label for="pname"><b>Assignee</b></label><br />
                <select name="assignee">

                    @for (int index = 0; index < Model.users.Count; index++) {
                        var l = Model.users[index];

                        <option value="@l[0]">@l[1]</option>
                    }

                </select>
            </div>

            <input class="loginAndSignUpButtons" type="submit" value="Create">
        </form>
    </div>



    @section scripts {
        <script>
            $(document).ready(function () {
                $("#form_login").submit(function (e) {
                    e.preventDefault();
                    url = "@Url.Content("~/InicioS/InsertaR")"
                    parametros = $(this).serialize();

                    $.post(url, parametros, function (data) {
                        if (data == "1") {
                            document.location.href = "@Url.Content("~/InicioS/Projects")"
                        }
                        else {
                            alert(data)
                        }

                    })


                })
            })
        </script>
        }

</body>
</html>